*{
	box-sizing: border-box;
}
body{
	overflow-x:hidden; 
    margin: 0px;
}
.grid{
	display: grid;
    grid-gap: 2px;
    grid-template-areas: 'header header header header header header' 
                          'menu main main main main main' 
                          'menu footer footer footer footer footer';
    height: 563px;                        
}
::placeholder{
	color:#999999;
	font-family: Roboto;

}
#formid{
    grid-area: menu;
    position: fixed;
}
.info{
    grid-area: menu;
   
    font-family: Roboto;
    font-size: 20px;
    width: 318px;
    height: 753px;
    background-color: #4883FF;
 } 
 .inputbox
 {
    position: absolute;
    top: 22%;
 }
 .showtable{
 	position: absolute;
 	top: 49px;
 	float: right;
    margin:-39px 95px;
    height: 28px;
    width: 89%;
    padding: 3px 14px;
}

#showbutton{
    position: absolute;
    right: 8px;
    top: 2%;
    padding: 16px 11px;
    width: 114px;
    background-color: #DCDCDC;
    opacity: 0.5;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 2px 2px 2px 2px;
    border: none;
    cursor: pointer; 
    outline: none;
}


   
#upload{
	width: 87px;
    height: 28px;
    background-color:#C4D221;
    border: none;
    cursor: pointer;
    font-family: Roboto;
}

#form{
    grid-area: main;
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 22%;   
}
.debitstyle
{
    display: flex;
    justify-content: center;
    color:#FF0000;    
    background-color:#FFDDDD;
    margin: 10px 8px;
    height: 34px;
    padding: 6px;  
}
.creditstyle
{
    display: flex;
    justify-content: center;
    color: #0053FF;
    background-color: #E1EBFF;
    margin: 10px 8px;
    height: 34px;
    padding: 6px;	
}
.formstyle{
    border: none;
	text-align: center;
}
#clear{
	display: flex;
    justify-content: space-between;
    margin: 33px 0px;
    width: 93%;
    }
 .child:{
  display: flex;
}
    
#link{
	color: antiquewhite;
    opacity: 0.3;
    margin-left: 11px;
    font-size: 20px;
    font-family: Roboto;

   


}
.class {
  color: #000000;
}
select:invalid,
select option[value=""] {
  color: #999999;
}
#accountheader
{   
    display: flex;
    margin:0% 0% 0% 25%;
    font-family: Roboto;
    font-size: 10px;
    grid-area: header;
    width: 75.3%;
}
input:focus::-webkit-datetime-edit{ color: #000; } 

 table 
        {
            width: 100%;
            font: 17px Roboto;
        }
table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;

        }
label{
	font-family: Roboto;
	float: left;
    margin: 0px 14px;
    color: #fff8f8;
    opacity: 0.7;
    font-size: medium;
} 

.style
{       
	height: 28px;
    width: 89%;
    padding: 3px 14px;
	margin: 3px 12px;
	border-radius: 2px 2px 2px 2px;
	border: none;
 }

.spacebtw
{
  	margin-top: 14px;
}

#show
{
    grid-area: footer;
    margin-right: 2%;
    margin-left: 22%;
    margin-top: 4%;
}
.heading
{
  color: white;
  margin-top: 12px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
 }
.field{
    padding: 0px 13px;
    color: #dc1414;
    font-size: 14px;
    opacity:1;
    transition:opacity 200ms;
}


 
 